#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1200px;
  min-width: 500px;
  margin: auto;
  display: inline;


}



/* main {
  min-height: 90vh;
} */

#navbarScroll {
  z-index: 999;
}



/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */